/* Importamos fuentes: */

@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

/* Establecemos las variables globales:  */

body{
    background-color: rgb(253, 244, 226); 
    background-color:chartreuse; 
    color:rgb(143, 140, 140);
    background-size:auto;
    font-family:Arial, Helvetica, sans-serif;
    gap: 1px;
}

#content{
    color:rgb(99, 94, 94);
    padding: 1%;
    border-radius: 5px;
    background-color: rgb(233, 27, 27); */
    

}

#logo{
    font-family: 'Scheherazade New', serif;
}

.footer{
    align-content: center;
    background-color: rgb(250, 252, 151); 
    text-align: center;
}

