{% extends "cheff_app/base.html" %}

{% comment %} {% block title %}Carga Articulos{% endblock %} {% endcomment %}

{% block content %}
{% load static %}



<div class= "titulo">

    <center><h2>REGISTRO DE COMPROBANTES</h2></center>

</div>
<br>
{% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
{% endif %}

<br>
<br>
<form class="form" method="POST" enctype="multipart/form-data">{% csrf_token %}

    <table>

    {{form.as_table}}

    </table>

    <center><input type = "submit" value="Guardar"></center>
    <br>
    <div class="volver">
    <a href="{% url 'admin'%}" style=><center>Menu</center></a>
    </div>
</form>
{% endblock content %}
