{% extends "cheff_app/admin.html" %}
{% block title %}

Listados    

{% endblock title %}

{% block content %}
{% load static %}

<div>

<center><h2>Listado de Categorias</h2></center>

</div>

<div class = "listas">
    <a href = "/cheff-app/carga_form_cat">+ Agregar</a>                

</div>
<br>

<table class = "table table-bordered">
    
        <tr>
            <td><center><b>Codigo</b></center></td>
            <td><center><b>Nombre</b></center></td>
            <td><center><b>Modificar</b></center></td>
            <td><center><b>Eliminar</b></center></td>
            
        </tr>
    </thead>

    <tbody>
        
        {% if object_list %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
                               
            {% endfor %}
        {% endif %}
        {% for cat in object_list %}
        <tr>
            <td>{{cat.codigo}}</td>
            <td>{{cat.nombre}}</td>
            
            
            <td><center><a href="{% url 'edit_cat' cat.codigo %}">
                <img src="{% static 'cheff-app/img/edit.png'%}" width="40px" height="30px" ></a></center></td>
            <td><center><a href="{% url 'delete_cat' cat.codigo %}">
                <img src="{% static 'cheff-app/img/delete.jpeg'%}" width="30px" height="30px" ></a></center></td>
            
                
        </tr>
        {% endfor %}

        
    </tbody>
    {% else %}
    
        <center><h2>No hay categorias ingresadas</h2></center>

        {% endif %}

</table>

<br>
<div class="volver">
<a href="{% url 'admin'%}" style=><center>Menu</center></a>
</div>


{% endblock content %}