{% extends "cheff_app/admin.html" %}
{% block title %}


Listados    

{% endblock title %}

{% block content %}
{% load static %}
<div>
<center><h3>Listado de Proveedores</h3></center>
</div>

<div class = "listas">
    <a href = "/cheff-app/carga_form_prov">+ Agregar</a>                

</div>
<br>

<div>
    <form method="get">

        {{filter.form.as_table}}

        <button type = "submit" class="btn btn-primary btn-sm" >Buscar</button>
        </form>
</div>
<br>


<table class = "table table-bordered">
    
        <tr>
            <center>
            <td><center><b>Codigo</b></center></td>
            <td><center><b>Nombre</b></center></td>
            <td><center><b>CUIT</b></center></td>
            <td><center><b>Telefono</b></center></td>
            <td><center><b>Modificar</b></center></td>
            <td><center><b>Eliminar</b></center></td>

        </center>
            
        </tr>
    </thead>

    <tbody>
        
        {% if filter %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
                               
        {% endfor %}
        {% endif %}
        {% for prov in filter.qs %}
        <tr>
            
            <td>{{prov.codigo}}</td>
            <td>{{prov.nombre}}</td>
            <td>{{prov.cuit}}</td>
            <td>{{prov.telefono}}</td>
            
            
            
            <td><center><a href="{% url 'edit_prov' prov.codigo %}">
                <img src="{% static 'cheff-app/img/edit.png' %}" width="40" height="30"></center></a></td>

            <td><a href="{% url 'delete_prov' prov.codigo %}">
                <img src="{% static 'cheff-app/img/delete.jpeg' %}" width="30" height="30"></a></td>
            
                
        </tr>
        {% endfor %}

        {% else %}
    
        <center><h1>No existen Proveedores</h1></center>

        {% endif %}
    </tbody>


</table>
</div>
<br>
<div class="volver">
<a href="{% url 'admin'%}" style=><center>Menu</center></a>
</div>


{% endblock content %}