{% extends "cheff_app/admin.html" %}
{% block title %}


Listados    

{% endblock title %}

{% block content %}
{% load static %}
<center><h2>Listado de Medidas</h2></center>
<br>

<table class="table table-bordered">
    
        <tr>
            
            <td>Id</td>
            <td>Nombre</td>
                        
        </tr>
    

    <tbody>
        
        {% if object_list %}
        {% for unm in object_list %}
        <tr>
            
            <td>{{unm.id}}</td>
            <td>{{unm.un_medida}}</td>
                       
            <td><a class="btn btn-info btn-sm" href="{% url 'edit_unm' unm.id %}"  >Editar</a></td>
            <td><a class="btn btn-danger btn-sm" href="{% url 'delete_unm' unm.id %}" >Eliminar</a></td>
                
        </tr>
        {% endfor %}

        {% else %}
    
        <center><h1>No existen Medidas</h1></center>

        {% endif %}
    </tbody>


</table>

<br>
<div class="volver">
<a href="{% url 'admin'%}" style=><center>Volver</center></a>
</div>


{% endblock content %}