{% extends "cheff_app/admin.html" %}
{% block title %}

Listados    

{% endblock title %}

{% block content %}
{% load static %}
<div>
<center><h2>Listado de Moza/o</h2></center>
</div>
<div class = "listas">
    <a href = "/cheff-app/carga_form_moz">+ Agregar</a>                

</div>
<br>

<table class="table table-bordered">
    
        <tr>
            
            <td><center><b>Legajo</b></center></td>
            <td><center><b>Nombre</b></center></td>
            <td><center><b>Cuil</b></center></td>
            <td><center><b>Fecha Ingreso</b></center></td>
            <td><center><b>Modificar</b></center></td>
            <td><center><b>Eliminar</b></center></td>


             
        </tr>
    

    <tbody>
        
        {% if object_list %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
                               
        {% endfor %}
        {% endif %}
        {% for moz in object_list %}
        <tr>
            
            <td>{{moz.legajo}}</td>
            <td>{{moz.nombre}}</td>
            <td>{{moz.cuil}}</td>
            <td>{{moz.fecha_ingreso}}</td>

            <td><center><a href="{% url 'edit_moz' moz.legajo %}">
                <img src="{% static 'cheff-app/img/edit.png'%}" width="40px" height="30px" ></a></center></td>
            
            <td><a href="{% url 'delete_moz' moz.legajo %}">
                <img src="{% static 'cheff-app/img/delete.jpeg'%}" width="30px" height="30px" ></a></center></td>
            
                
        </tr>
        {% endfor %}

        {% else %}
    
        <center><h1>No hay mesas ingresadas</h1></center>

        {% endif %}
    </tbody>


</table>

<br>
<div class="volver">
<a href="{% url 'admin'%}" style=><center>Menu</center></a>
</div>


{% endblock content %}