{% extends "cheff_app/admin.html" %}
{% block title %}


Listados    

{% endblock title %}

{% block content %}
{% load static %}
<center><h2>Listado de Productos</h2></center> 
<div class = "listas">
    <a href = "/cheff-app/carga_producto">Nuevo Producto</a>
</div>
<br>
<div>
    <form method="get">

        {{filter.form.as_table}}

        <button type = "submit" class="btn btn-primary btn-sm" >Buscar</button>
        </form>
</div>
<table class="table table-bordered">
    
        <tr>
            
            <td><center><b>Codigo</b></center></td>            
            <td><center><b>Nombre</b></center></td>
            <td><center><b>Categoria</b></center></td>
            <td><center><b>Pcio.Costo</b></center></td>
            <td><center><b>Pcio.Venta</b></center></td>
            <td><center><b>Stock</b></center></td>
            <td><center><b>Modificar</b></center></td>
            <td><center><b>Eliminar</b></center></td>
            
        </tr>
    

    <tbody>
        
        {% if filter %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
                               
        {% endfor %}
        {% endif %}
        {% for pt in filter.qs %}
        <tr>            
            <td>{{pt.codigo}}</td>            
            <td>{{pt.nombre}}</td>
            <td>{{pt.categoria}}</td>
            <td>{{pt.precio_costo}}</td>
            <td>{{pt.precio_venta}}</td>
            <td>{{pt.stock}}</td>
            
            
            
            <td><center><a href="{% url 'edit_producto' pt.codigo %}">
                <img src="{% static 'cheff-app/img/edit.png'%}" width="40px" height="30px"></a></center></td>
            
            <td><center><a href="{% url 'delete_producto' pt.codigo %}">
                <img src="{% static 'cheff-app/img/delete.jpeg'%}" width="30px" height="30px"></a></center></td>
            
                
        </tr>
        {% endfor %}

        {% else %}
    
        <center><h1>No existen productos para esta consulta</h1></center>

        {% endif %}
    </tbody>


</table>

<br>
<div class="volver">
<a href="{% url 'admin'%}" style=><center>Menu</center></a>
</div>


{% endblock content %}