{% extends "cheff_app/admin.html" %}
{% block title %}

Listados    

{% endblock title %}

{% block content %}
{% load static %}

<div>

<center><h2>Listado de Categorias</h2></center>

</div>

<div class = "listas">
    <a href = "/cheff-app/carga_form_cat">Nueva Categoria</a>                

</div>
<br>

<table class = "table table-bordered">
    
        <tr>
            <td><center>Codigo</center></td>
            <td><center>Nombre</center></td>
            <td><center>Modificar</center></td>
            <td><center>Eliminar</center></td>
            
        </tr>
    </thead>

    <tbody>
        
        {% if object_list %}
        {% for cat in object_list %}
        <tr>
            <td>{{cat.codigo}}</td>
            <td>{{cat.nombre}}</td>
            
            
            <td><center><a href="{% url 'edit_cat' cat.codigo %}">
                <img src="{% static 'cheff-app/img/edit.png'%}" width="30px" height="30px" ></a></center></td>
            <td><center><a href="{% url 'delete_cat' cat.codigo %}">
                <img src="{% static 'cheff-app/img/delete.jpeg'%}" width="30px" height="30px" ></a></center></td>
            
                
        </tr>
        {% endfor %}

        {% else %}
    
        <center><h1>No hay categorias ingresadas</h1></center>

        {% endif %}
    </tbody>


</table>

<br>
<div class="volver">
<a href="{% url 'admin'%}" style=><center>Volver</center></a>
</div>


{% endblock content %}