{% extends "cheff_app/admin.html" %}
{% block title %}


Listados    

{% endblock title %}

{% block content %}
{% load static %}
<div>
<center><h3>Listado de Proveedores</h3></center>
</div>

    <form method="get">

        {{filter.form.as_table}}

        <button type = "submit" class="btn btn-primary btn-sm" >Buscar</button>
        </form>
</div>
<br>


<table class = "table table-bordered">
    
        <tr>
            
            <td>Codigo</td>
            <td>Nombre</td>
            <td>CUIT</td>
            <td>Telefono</td>
            
            
        </tr>
    </thead>

    <tbody>
        
        {% if filter %}
        {% for prov in filter.qs %}
        <tr>
            
            <td>{{prov.codigo}}</td>
            <td>{{prov.nombre}}</td>
            <td>{{prov.cuit}}</td>
            <td>{{prov.telefono}}</td>
            
            
            
            <td><a class="btn btn-info btn-sm" href="{% url 'edit_prov' prov.codigo %}"  >Editar</a></td>
            <td><a class="btn btn-danger btn-sm" href="{% url 'delete_prov' prov.codigo %}" >Eliminar</a></td>
                
        </tr>
        {% endfor %}

        {% else %}
    
        <center><h1>No existen Proveedores</h1></center>

        {% endif %}
    </tbody>


</table>
</div>
<br>
<div class="volver">
<a href="{% url 'admin'%}" style=><center>Volver</center></a>
</div>


{% endblock content %}