{% extends "cheff_app/admin.html" %}
{% block title %}

Listados    

{% endblock title %}

{% block content %}
{% load static %}

<div>
<center><h2>Listado de Mesas</h2></center>
</div>
<div class = "listas">
    <a href = "/cheff-app/carga_form_me">Nueva Mesa</a>                

</div>
<br>
<table class = "table table-bordered">
    <thead>
        <tr>
            
            <td><center>Numero</center></td>
            <td><center>Capacidad</center></td>
            <td><center>Descripcion</center></td>
            <td><center>Modificar</center></td>
            <td><center>Eliminar</center></td>
        </tr>
    </thead>

    <tbody>
        
        {% if object_list %}
        {% for mesa in object_list %}
        <tr>
            
            <td>{{mesa.numero}}</td>
            <td>{{mesa.capacidad}}</td>
            <td>{{mesa.descripcion}}</td>
            
            <td><center><a href="{% url 'edit_me' mesa.numero %}">
                <img src="{% static 'cheff-app/img/edit.png'%}" width="30px" height="30px" ></a></center></td>
            <td><center><a href="{% url 'delete_me' mesa.numero %}">
                <img src="{% static 'cheff-app/img/delete.jpeg'%}" width="30px" height="30px" ></a></center></td>
            
                
        </tr>
        {% endfor %}

        {% else %}
    
        <center><h1>No hay mesas ingresadas</h1></center>

        {% endif %}
    </tbody>


</table>
</div>
<br>
<div class="volver">
<a href="{% url 'admin'%}" style=><center>Volver</center></a>
</div>


{% endblock content %}