
{% extends "cheff_app/base.html" %}
{% block title %}ADMIN{% endblock title %}

{% block content %}
{% load static %}

<div class = "titulo">
    <center><h2> Menu Administrador </h2></center>
</div>
<br>

    <div class="grid-admin">

        <ul class = "opcion">
            
            <!-- <li><a href = "/cheff-app/carga_form_me">Ingreso Mesas</a></li><br>             -->
            <!-- <li><a href = "/cheff-app/carga_form_cat">Ingreso Categorias</a></li><br>             -->
            <li><a href = "/cheff-app/carga_form_moz">Ingreso Moza/o</a></li><br>
            <li><a href = "/cheff-app/carga_producto">Ingreso Producto</a></li><br>            
            <li><a href = "/cheff-app/carga_form_prov">Ingreso Proveedores</a></li><br>
            <li><a href = "/cheff-app/carga_form_unm">Ingreso Medidas</a></li><br>
            <li><a href = "/cheff-app/carga_form_cpte">Ingreso Comprobantes</a></li><br>
            <li><a href = "/cheff-app/carga_ctaprov">Ingreso Cta Proveedores</a></li><br>
                  
        </ul>

        <ul class = "opcion">
            <li><a href = "/cheff-app/lista_me">A-B-M Mesas</a></li><br> 
            <li><a href = "/cheff-app/lista_cat">A-B-M Categorias</a></li><br>
            <li><a href = "/cheff-app/lista_moz">Listar-Editar-Eliminar Mozas/os</a></li><br>          
            <li><a href = "/cheff-app/lista_producto">Listar-Editar-Eliminar Producto</a></li><br>            
            <li><a href = "/cheff-app/lista_prov">Listar-Editar-Eliminar Proveedores</a></li><br>
            <li><a href = "/cheff-app/lista_unm">Listar-Editar-Eliminar Medidas</a></li><br>
            <li><a href = "/cheff-app/lista_cpte">Listar-Editar-Eliminar Comprobantes</a></li><br>
            <li><a href = "/cheff-app/lista_ctaprov">Listar Cta Proveedores</a></li><br>
            
            
        </ul>
    </div>

{% endblock %}

