
{% extends "cheff_app/base.html" %}
{% block title %}ADMIN{% endblock title %}

{% block content %}
{% load static %}

<div class = "titulo">
    <center><h2> Menu Administrador </h2></center>
</div>
{% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
                               
            {% endfor %}
{% endif %}
<br>

    <div class="grid-admin">

        <ul class = "opcion">
            
            <li><a href = "/cheff-app/lista_me">A-B-M Mesas</a></li><br> 
            <li><a href = "/cheff-app/lista_cpte">A-B-M Comprobantes</a></li><br>
            <li><a href = "/cheff-app/lista_unm">A-B-M Medidas</a></li><br>
            <li><a href = "/cheff-app/lista_moz">A-B-M Mozas/os</a></li><br>          
                  
        </ul>

        <ul class = "opcion">
            
            <li><a href = "/cheff-app/lista_cat">A-B-M Categorias</a></li><br>
            <li><a href = "/cheff-app/lista_producto">A-B-M Productos</a></li><br>            
            <li><a href = "/cheff-app/lista_prov">A-B-M Proveedores</a></li><br>          
            <li><a href = "/cheff-app/lista_ctaprov">Listar Cta Proveedores</a></li><br>
            
            
        </ul>
    </div>

{% endblock %}

