{% extends "cheff_app/admin.html" %}
{% block title %}


Listados    

{% endblock title %}

{% block content %}
{% load static %}
<center><h2>Listado de Mesas</h2></center>
<br>
<div class="listas">
<table>
    <thead class=list-admin>
        <tr>
            
            <td>Numero|</td>
            <td>Capacidad|</td>
            <td>Descripcion|</td>
             
        </tr>
    </thead>

    <tbody>
        
        {% if object_list %}
        {% for mesa in object_list %}
        <tr>
            
            <td>{{mesa.numero}}</td>
            <td>{{mesa.capacidad}}</td>
            <td>{{mesa.descripcion}}</td>
            
            <td><a class="btn btn-info" href="{% url 'edit_me' mesa.numero %}"  >Editar</a></td>
            <td><a class="btn btn-danger" href="{% url 'delete_me' mesa.numero %}" >Eliminar</a></td>
                
        </tr>
        {% endfor %}

        {% else %}
    
        <center><h1>No hay mesas ingresadas</h1></center>

        {% endif %}
    </tbody>


</table>
</div>
<br>
<div class="volver">
<a href="{% url 'admin'%}" style=><center>Volver</center></a>
</div>


{% endblock content %}