{% extends "cheff_app/admin.html" %}
{% block title %}


Listados    

{% endblock title %}

{% block content %}
{% load static %}
<center><h2>Listado de Ingredientes</h2></center>
<br>
<div class="listas">
<table>
    <thead class=list-admin>
        <tr>
            
            <td>Codigo|</td>
            <td>Nombre|</td>
            <td>Precio|</td>
            <td>Un Medida</td>
            <td>Medida Ingred</td>
            <td>Cantidad|</td>
             
        </tr>
    </thead>

    <tbody>
        
        {% if object_list %}
        {% for ing in object_list %}
        <tr>
            
            <td>{{ing.codigo}}</td>
            <td>{{ing.nombre}}</td>
            <td>{{ing.precio}}</td>
            <td>{{ing.un_medida}}</td>
            <td>{{ing.medida_producto}}</td>
            <td>{{ing.cantidad}}</td>
            
            <td><a class="btn btn-info" href="{% url 'edit_ing' ing.codigo %}"  >Editar</a></td>
            <td><a class="btn btn-danger" href="{% url 'delete_ing' ing.codigo %}" >Eliminar</a></td>
                
        </tr>
        {% endfor %}

        {% else %}
    
        <center><h1>No hay ingredientes ingresados</h1></center>

        {% endif %}
    </tbody>


</table>
</div>
<br>
<div class="volver">
<a href="{% url 'admin'%}" style=><center>Volver</center></a>
</div>


{% endblock content %}