{% extends "cheff_app/admin.html" %}
{% block title %}


Listados    

{% endblock title %}

{% block content %}
{% load static %}
<center><h2>Listado de Productos Elaborados</h2></center>
<br>
<div class="listas">
<table>
    <thead class=list-admin>
        <tr>
            <td>Id|</td>
            <td>Codigo|</td>
            <td>Nombre|</td>
            <td>Ing Base|</td>
            <td>Ing 2|</td>
            <td>Ing 3|</td>
            <td>Ing 4|</td>
            <td>Ing 5|</td>
            <td>Ing 6|</td>
            <td>Ing 7|</td>
            <td>Ing 8|</td>
            <td>Ing 9|</td>
            <td>Ing 10|</td>
            
        </tr>
    </thead>

    <tbody>
        
        {% if object_list %}
        {% for pe in object_list %}
        <tr>
            <td>{{pe.id}}</td>
            <td>{{pe.codigo}}</td>
            <td>{{pe.nombre}}</td>
            <td>{{pe.ingrediente_base}}</td>
            <td>{{pe.ingrediente_2}}</td>
            <td>{{pe.ingrediente_3}}</td>
            <td>{{pe.ingrediente_4}}</td>
            <td>{{pe.ingrediente_5}}</td>
            <td>{{pe.ingrediente_6}}</td>
            <td>{{pe.ingrediente_7}}</td>
            <td>{{pe.ingrediente_8}}</td>
            <td>{{pe.ingrediente_9}}</td>
            <td>{{pe.ingrediente_10}}</td>
            
            
            <td><a class="btn btn-info" href="{% url 'edit_pe' pe.codigo %}"  >Editar</a></td>
            <td><a class="btn btn-danger" href="{% url 'delete_pe' pe.codigo %}" >Eliminar</a></td>
                
        </tr>
        {% endfor %}

        {% else %}
    
        <center><h1>No existen productos para esta consulta</h1></center>

        {% endif %}
    </tbody>


</table>
</div>
<br>
<div class="volver">
<a href="{% url 'admin'%}" style=><center>Volver</center></a>
</div>


{% endblock content %}